


body{


  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;


}
.banner-container{
  background-image: url('../../chefs-table/src/assets/Images/chef.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  border-radius: 24px;

}